.home-image {
  grid-area: image;
}

img {
  width: 20rem;
  height: auto;
}
.home-name {
  grid-area: name;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "image name";
  margin: 5rem;
}

/* .home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
} */
label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 20px;
}

/* Media Queries Break Points */
/* X-Small devices (portrait phones, less than 480px) */
@media screen and (max-width: 480px) {
  .home-container {
    padding: 0 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "image"
      "name";
  }
}

/* X-Small devices (portrait phones, less than 768px) */
@media screen and (max-width: 768px) {
  .home-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "image"
      "name";
  }
}
